# Build
target/
build/

# Logs
*.log

# Java
*.class

# Env
.env

# Sistema
.DS_Store

# IDEs
.metadata/
.idea/
.vscode/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
*.iml
*.ipr
*.iws

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Maven Wrapper (opcional manter)
!.mvn/wrapper/maven-wrapper.jar